<a href="https://colab.research.google.com/github/Derniska/MyProject/blob/master/parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
res = requests.get('https://stepik.org/media/attachments/lesson/866758/mean_salary_by_city.html')

In [ ]:
res.status_code

200

In [ ]:
soup = BeautifulSoup(res.text, 'lxml')

In [ ]:
# soup.find('div', class_ = 'reg_name').text.encode('latin1').decode('utf-8')
regions = {'city' : [], 'mean_salary' : []}
for tag in soup.find_all('div', class_ = 'row block_rating'):
  regions['city'].append(tag.find('div', class_ = 'reg_name').text.encode('latin1').decode('utf-8'))
  regions['mean_salary'].append((tag.find('span', class_ = 'reg_salary').text.replace('â\x82½', '').replace('\xa0', '')))

In [ ]:
region_salary = pd.DataFrame(regions)
region_salary.mean_salary = region_salary.mean_salary.astype('int')
region_salary = region_salary.sort_values(by = 'city').reset_index(drop = True)
region_salary.to_csv('city_salary.csv', index = False)